@keyframes fadeInDown {
  0% {
     opacity: 0;
     transform: translateY(-10px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}
@keyframes fadeInUp{
  0% {
     opacity: 0;
     transform: translateY(10px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}
@keyframes fadeInLeft{
  0% {
     opacity: 0;
     transform: translateX(-10px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}
@keyframes fadeIn{
  0% {
     opacity: 0;
  }
  100% {
     opacity: 1;
  }
}
@keyframes rippleIn{
  0%{
    transform: scale(1);
    border-radius:100%;
  }
  100%{
    transform: scale(90);
    border-radius:100%;
  }
}
.fadeInDown {
  animation: 1s ease-in-out 0.5s fadeInDown;
  animation-fill-mode: forwards;
  opacity:0;
}
.fadeInDown2 {
  animation: 0.5s ease-in-out 1.4s fadeInDown;
  animation-fill-mode: forwards;
  opacity:0;
}
.fadeInUp {
  animation: 1s ease-in-out 1s fadeInUp;
  animation-fill-mode: forwards;
  opacity:0;
}
.fadeIn {
  animation: 0.5s ease-in-out 0.25s fadeIn;
  animation-fill-mode: forwards;
  opacity:0;
}
.fadeInCanvas {
  animation: 0.5s ease-in-out 0.5s fadeIn;
  animation-fill-mode: forwards;
  opacity:0;
}
.fadeInLeft{
  animation: 0.5s ease-in-out 0.3s fadeInLeft;
  animation-fill-mode: forwards;
  opacity:0;
}
.rippleIn {
  animation: 1.4s ease-in rippleIn;
}


