@import 'reset.scss';


@media screen and (max-width: 960px) {
  .gallery-container {
    margin-top: 56px !important;
  }
}
@media screen and (min-width: 960px) {
  .gallery-container {
    margin-top: 64px !important;
  }
}
.uppercase{
  text-transform: uppercase;
}
.theme--light.v-application {
  background: #f4f4f4 !important;
  color: rgba(0, 0, 0, 0.87);
}